/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
}

.style-me1 {
  color: red;
}

#style-me2 {
  color: blue;
}

#style-me2.style-me1 {
  color: purple;
}

/* Put styles for questions 2.1 and 2.2 here */
.my-descendants-are-styled p {
  background: red;
}

.my-children-are-styled > p {
  background: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */
.box {
  background-color: lightblue; /* To see where it starts and finishes */
  margin: 10px 20px;
  padding: 10px 20px;
  width: 300px;
  height: 200px;
  border: 5px solid green;
  box-sizing: border-box;
  overflow: hidden; /* You can change this to scroll, auto, etc. */
  outline: 10px solid orange;
  border-radius: 20px;
  background-image: url("./assets/images/img1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box:nth-child(2) {
  overflow: scroll; /* Change to test different overflow values */
}

/* III. Positioning */
/* Put styles for questions 1-3 here */
.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
}

.position-relative {
  position: relative;
  background-color: lightgrey;
}

.position-sticky {
  position: sticky;
  top: 10px;
  background-color: pink;
}

/* IV. Styling text */
/* Put styles for questions 1-10 here */
.text-style {
  color: darkblue;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  letter-spacing: 1px;
  word-spacing: 5px;
  text-transform: uppercase;
  text-decoration: underline;
}

/* V. Styling links */
/* Put styles for questions 1-3 here */
a:link {
  color: blue;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

a:visited {
  color: purple;
  font-style: italic;
}

a:hover,
a:active,
a:focus {
  color: darkblue;
  text-decoration: underline;
}

/* VI. calc() */
/* Put styles for questions 1-3 here */
.calc-style {
  width: 100vw;
  background-color: lightcoral;
  width: calc(100vw - 100px);
}

.fixed-width-col {
  width: 350px;
  display: inline-block;
}

.fluid-col {
  display: inline-block;
  width: calc(100% - 350px);
}
